* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

/* Prevents images from being marked or dragged */
img { 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/* Application size */

body    {
    display: grid;
    margin: auto;
}

/* Game Screen */
#game   {
    display: grid;
    grid-template-columns: repeat(5, 20vmin);
    grid-template-rows: repeat(6, 15vmin);
    margin: auto;
    background-color: black;
    grid-row-start: 1;
    grid-row-end: end;
    grid-column-start: 1;
    grid-column-end: end;
}

#screen {
    display: grid;
    grid-template-columns: repeat(5, 20vmin);
    grid-template-rows: repeat(6, 15vmin);
    margin: auto;
    z-index: 10;
    grid-column-start: 1;
    grid-column-end: end;
    grid-row-start: 1;
    grid-row-end: end;
}

#background {
    width: 100vmin;
    background-size: cover;
    grid-template-columns: repeat(5, 20vmin);
    grid-template-rows: repeat(6, 15vmin);    
    grid-column-start: 1;
    grid-column-end: end;
    grid-row-start: 1;
    grid-row-end: end;
}

/* Pop-ups */
#event {
    z-index: 1000;
    background-color: black;
    object-fit: cover;
    grid-template-columns: repeat(5, 20vmin);
    grid-template-rows: repeat(6, 15vmin);
    margin: auto;
    grid-column-start: 1;
    grid-column-end: end;
    grid-row-start: 1;
    grid-row-end: end;
    opacity: 50%;
}

#zombie {
    width: 100%;
    z-index: 1002;
    grid-row-start: 1;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 5;
    justify-self: center;
}

#cat {
    width: 200px;
    z-index: 1001;
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 5;
    justify-self: center;
}

#detail {
    z-index: 900;
    grid-template-columns: repeat(5, 20vmin);
    grid-template-rows: repeat(6, 15vmin);
    margin: auto;
    grid-row-start: 1;
    grid-column-start: 1;
    justify-self: center;
}

#anotherDetail {
    z-index: 900;
    width: 500px;
    grid-template-columns: repeat(5, 20vmin);
    grid-template-rows: repeat(6, 15vmin);
    margin: auto;
    grid-row-start: 1;
    grid-column-start: 1;
    justify-self: center;
}


#zombieIndicator    {
    z-index: 13;
    display: block;
    padding: auto;
    margin: auto;
    height: 80%;
    width: 60%;
    border-radius: 50%;
    background: red;
    grid-row-start: 2;
    grid-column-start: 1;
    animation: pulse 2s infinite;
}

#catIndicator    {
    z-index: 13;
    display: block;
    padding: auto;
    margin: auto;
    height: 80%;
    width: 60%;
    border-radius: 50%;
    background: red;
    grid-row-start: 3;
    grid-column-start: 1;
    animation: pulse 2s infinite;
}

/* Player user interface */
#playerUI   {
    z-index: 1000;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 6;
    display: grid;
    border-style: solid;
    border-color: black;
    background-color: rgb(68, 68, 68);
    grid-template-rows: 5vmin 20vmin 5vmin;
    grid-template-columns: 33vmin 33vmin 33vmin;
    margin: auto;
    box-shadow: 0px -8px 5px black;
}

#playerData {
    z-index: 3;
    background: rgb(61, 61, 61);
    border-style: solid;
    border-color: black;
    margin: auto;
    width: 25vmin;
    padding: 5%;
    margin-top: 10%;
    grid-column-start: 1;
    grid-row-start: 1;
}

#map    { 
    color: white;
}


#stepCounter    {
   
    color: blue;
}

#zombieCounter    {  
    width: 200px;
    height: 30px;  
    color: red;
}

#cat    { 
    color: green;
}

/* controller */
#controls   {
    grid-column-start: 2;
    margin: auto;
    display: grid;
    padding: 5%;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
}

#controls img {
    width: 100%;
}

#controls img:active    {
    transform: scale(0.95);
}

#up {
    grid-column-start: 2;
    grid-row-start: 1;
}

#down   {
    grid-column-start: 2;
    grid-row-start: 3;
}

#left  {
    grid-column-start: 1;
    grid-row-start: 2;
}

#right {
    grid-column-start: 3;
    grid-row-start: 2;
}

/* Animations */

@keyframes pulse
{
    0% {
        height: 50%;
        width: 50%;
        box-shadow: 0 0 0 0px rgba(255, 0, 0, 0.2);
    }
    90% {
        height: 60%;
        width: 60%;
        box-shadow: 0 0 0 35px rgba(255, 0, 0, 0);
    }
    100% {
        height: 50%;
        width: 50%;
        box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
    }
}

@keyframes glowing {
    0% { 
        box-shadow: 0 0 -10px #92d453a6; 
    }
    40% { 
        box-shadow: 0 0 20px #92d453a6; 
    }
    60% { 
        box-shadow: 0 0 20px #92d453a6; 
    }
    100% { 
        box-shadow: 0 0 -10px #92d453a6; }
  }