body{
        display: flex;
        width: 100vh;
        height: 100vh;
        background-color: black;
}

#map    {
    displaY: block;
    width: 50px;
    height: 30px;    
    color: white;
}


#stepCounter    {
    displaY: block;
    width: 50px;
    height: 30px;    
    color: blue;
}

#zombie    {
    displaY: block;
    width: 50px;
    height: 30px;    
    color: red;
}

#cat    {
    displaY: block;
    width: 50px;
    height: 30px;    
    color: green;
}

#controls {
            display: flex;
            margin: 10px;
}